html, body {
    background-color: #0A2365 !important;
}

.oti_dash-wrapper{
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    ::-webkit-scrollbar {
        display: none !important;
    }
}

.oti_sidebar {
    ::-webkit-scrollbar {
        display: none !important;
    }
}


.oti_content-container {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    ::-webkit-scrollbar {
        display: none !important;
    }
}
